input {
  border-radius: 0;
}

.home-title {
  text-align: center;
}

.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main form {
  position: relative;
}

.main-container {
  width: 84vw;
  margin: 5vh auto 0;
  max-width: 1200px;
}

.main-currency {
  position: absolute;
  right: 10px;
  top: 12px;
  color: #757575;
}

.main-container label {
  line-height: 40px;
}

.main-method-btn {
  margin-bottom: 1em;
  height: 50px;
  font-size: 20px;
  border: none;
  width: 100%;
  color: #fff;
  letter-spacing: 3px;
  cursor: pointer;
  text-align: center;

  border-radius: 2px;
}

.main-method-btn[disabled] {
  opacity: 0.3;
}

#merchant_reference {
  background-color: #f8f8f8;
}

#merchant_reference:hover,
#merchant_reference:focus {
  background-color: white;
}

.main-method-btn--alipay {
  background: #149CE3;
}

.main-method-btn--wechat {
  background: #09BB07;
}

.main-wallet-container {
  padding-right: 13px;
  height: 20px;
  line-height: 20px;

  margin-bottom: 8px;
  max-width: 100%;
}

.main .main-field-amount {
  height: 70px;
}

.main-wallet-select {
  background: #EAF0F6;
  border: none;
  appearance: none;
  -webkit-appearance: none;

    align-items: start;

  font-size: 1em;
  max-width: 100%;
}

.main-wallet-container:after {
  content: '';
  position: absolute;
  top: 7px; right: 0;

  width: 0px; height: 0px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 7px solid #757575;

  clear: both;
}

.main-wallet-select:focus {
  outline: none !important;
}

.main-wallet-select {
  float: right;
}

.main-wallet-select, .main-wallet-select option {
  direction: rtl;
  color: #757575;
}

.main-amount-head {
  position: relative;
}


.main-field-amount input, .main-field-reference input {
  background: white;
  color: #474747;
  line-height: 50px;
}

.main-field-amount input::-webkit-input-placeholder,
.main-field-reference input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.3);
  font-size: 0.8em;
}

.main-field-amount input {
  padding-right: 50px;
}

.main-field-amount .prefix {
  color: #787878;
}

.main-field-reference input {
  padding: 0 10px;
}

.main-field-amount label, .main-field-reference label {
  color: #757575;
}

.main-field-reference {
  margin-top: 10px;
}

.main-field-amount .prefix__green {
  color: #6BBF70;
}

.main-field-amount__disabled input {
  background: rgba(255, 255, 255, 0.3);
  color: #6BBF70;
  -webkit-text-fill-color: #6BBF70;
}

.scanner {
  text-align: center;
  width: 30%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.separator, .tips {
  text-align: center;
  font-size: 0.9em;
  color: #888;
}

.green {
  color: #6bbf70;
}

p.separator {
  color: #aaa;
  font-size: 0.85em;
}

p.separator::before, p.separator::after {
  content: " ";
  display: inline-block;
  margin: 0 5px;
  background-color: #ccc;
  vertical-align: middle;
  height: 1px;
  width: 40px;
}

.barcode-btn {
  margin-bottom: 1em;
  height: 50px;
  font-size: 20px;
  border: none;
  width: 100%;
  color: #fff;
  letter-spacing: 3px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  background: #6bbf70;
}

@media only screen and (min-width: 768px) {
  div.main-container {
    width: 50vw;
  }
}

.how {
  width: 80%;
  margin: 0 auto;
}

.img-how {
  display: inline-block;
  width: 22%;
  margin: 0 2%;
}

.img-how img {
  width: 100%;
}

.img-how:first-of-type {
  margin-left: 0;
}

.img-how:last-of-type {
  margin-right: 0;
}

.img-tip {
  font-size: 0.5em;
  text-align: center;
}

table.barcode {
  width: 100%;
  /* border: 1px solid #ddd; */
  /* padding: 0 10px; */
  border-collapse: collapse;
}

table.barcode tr {
  /* border: 1px solid #ddd; */
  background-color: #eeeeee4f;
}

table.barcode td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

table.barcode td:first-of-type {
  text-align: left;
}

table.barcode td:last-of-type {
  text-align: center;
}

table.barcode1 {
  width: 100%;
}

table.barcode1 td {
  text-align: center;
}

table.barcode1 td img {
  margin-top: 20px;
  margin-bottom: 0;
}

table.barcode1 strong {
  font-weight: bold;
  color: #444;
}

table.barcode1 td p {
  color: #666;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

table.barcode1 .total {
  margin-top: 10px;
  line-height: 30px;
  color: #6BBF70;
  font-size: 1.2em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
